<div class="card shadow-sm border-0 card-animada">
    <div class="card shadow-sm border-0">
      <div class="card-body text-center">
        <img
          src="assets/img/perfil.jpg"
          alt="Foto de perfil"
          class="rounded-circle mb-3"
          style="width: 150px; height: 150px;"
        />
        <h2 class="card-title fade-in-delay-1">¡Hola! 👋</h2>
        <p class="card-text fade-in-delay-2">
          Mi nombre es <strong>Cynthia Terán</strong> y soy estudiante de la <strong>UTN</strong>. <br />
          Me encanta viajar, tomar fotos, cocinar, jugar en la compu, ver pelis/series, escuchar musica, programar, aprender cosas nuevas.<br />
          Mi juego es <strong>Adivina la pelicula</strong> van aparecer imagenes de peliculas donde vas a tener que poner el nombre de la peli para seguir jugando y sumar puntos!.
        </p>
  
        <div class="d-flex justify-content-center gap-3 mt-3">
          <a href="https://github.com/cynter" target="_blank" class="btn btn-dark">
            <i class="bi bi-github"></i> GitHub
          </a>
        </div>
      </div>
    </div>
  </div>
  