<div class="ahorcado-container">
  <h2>Juego del Ahorcado</h2>

  <img [src]="'assets/ahorcado/' + (6 - intentos) + '.jpeg'" alt="Ahorcado" class="muñeco" />

  <p>
    Palabra:
    <span *ngFor="let letra of palabra.split('')">{{ mostrarLetra(letra) }} </span>
  </p>

  <div class="letras" *ngIf="!juegoTerminado">
    <button *ngFor="let letra of letras" [disabled]="letrasAdivinadas.includes(letra)" [ngClass]="{
    'correcta': letrasAdivinadas.includes(letra) && esLetraCorrecta(letra),
    'incorrecta': letrasAdivinadas.includes(letra) && !esLetraCorrecta(letra)
  }" (click)="seleccionarLetra(letra)">
      {{ letra }}
    </button>
  </div>

  <p>Intentos restantes: {{ intentos }}</p>

  <!-- Mensajes de resultado -->
  <div *ngIf="gano" class="resultado ganado">¡GANASTE! 🎉</div>
  <div *ngIf="perdio" class="resultado perdido">
    PERDISTE 😢<br />
    La palabra era: <strong>{{ palabra }}</strong>
  </div>

  <div *ngIf="juegoTerminado">
    <button [ngClass]="{
        'btn-reiniciar': true,
        'ganaste': gano,
        'perdiste': perdio
      }" (click)="reiniciarJuego()">
      🔄 Reiniciar juego
    </button>
  </div>
</div>