<div class="resultados-container">
  <h2>Lista de Resultados</h2>

  <div *ngIf="cargando">Cargando...</div>

  <table *ngIf="!cargando && resultados.length > 0" class="tabla">
    <thead>
      <tr>
        <th>Juego</th>
        <!--<th>Palabra</th>-->
        <th>Resultado</th>
        <th>Puntos</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of resultados">
        <td>{{ r.juego }}</td>
       <!-- <td>{{ r.palabra }}</td> -->
        <td [ngClass]="{ 'ganado': r.gano, 'perdido': !r.gano }">
          {{ r.gano ? 'Ganó' : 'Perdió' }}
        </td>
        <td>{{ r.puntos }}</td>
        <!-- <td>{{ r.fecha | date: 'short' }}</td> -->
         <td>{{ r.fecha | date:'dd/MM/yyyy HH:mm' }}</td>

      </tr>
    </tbody>
  </table>

  <p *ngIf="!cargando && resultados.length === 0">No hay resultados aún.</p>
</div>
