<div class="chat-container">
  <div class="message-list" #messageList *ngIf="(groupedMessages$ | async) as groupedMessages">
    <div *ngFor="let group of groupedMessages">
      <div class="date-header">{{ group[0] }}</div>

      <div *ngFor="let msg of group[1]; let i = index" class="message-container" [ngClass]="{
          'my-message': msg.user_id === auth.currentUser?.id,
          'other-message': msg.user_id !== auth.currentUser?.id,
          'new-user-message': i === 0 || group[1][i - 1].user_id !== msg.user_id
        }">

        <!-- Header si cambia de usuario (pero solo si NO es el usuario logueado) -->
        <div *ngIf="(i === 0 || group[1][i - 1].user_id !== msg.user_id) && msg.user_id !== auth.currentUser?.id"
          class="message-header" [style.color]="getUserColor(msg.user_id)">
          <span class="email">{{ msg.email }}</span>
        </div>


        <!-- Solo hora si es el mismo usuario -->
        <div *ngIf="i > 0 && group[1][i - 1].user_id === msg.user_id" class="timestamp-only">
          <!-- {{ msg.created_at | chatTime }} -->
        </div>

        <!-- Contenido y hora juntos -->
        <div class="message-content-with-time">
          <span class="message-text">{{ msg.content }}</span>
          <span class="message-time">{{ msg.created_at | chatTime }}</span>
        </div>
      </div>
    </div>
  </div>


  <div class="message-input-wrapper">
    <input type="text" [(ngModel)]="newMessage" placeholder="Escribe un mensaje..." class="message-input"
      (keydown)="onKeyDown($event)" />
    <button (click)="sendMessage()" class="send-button">Enviar</button>
  </div>
</div>