<div class="container mt-4">
  <div class="btn-group mb-3">
    <button routerLink="home" routerLinkActive="active-route">
      <i class="bi bi-house-door-fill me-1"></i> Home
    </button>
    <button routerLink="login" routerLinkActive="active-route">
      <i class="bi bi-box-arrow-in-right me-1"></i> Login
    </button>
    <button routerLink="quien-soy" routerLinkActive="active-route">
      <i class="bi bi-person-circle me-1"></i> Quien Soy
    </button>
  </div>
  
  <div class="card p-3">
    <router-outlet />
  </div>  
</div>
