.btn-group {
  display: flex;
  flex-wrap: wrap; // Permite que los botones se acomoden en varias líneas
  justify-content: center;
  gap: 10px;
  margin-bottom: 1rem;

  button {
    padding: 8px 20px;
    border: none;
    border-radius: 25px;
    background-color: #e0e0e0;
    color: #333;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
  }

  button:hover {
    background-color: #cfcfcf;
    transform: scale(1.05);
  }

  .active-route {
    background-color: #343a40;
    color: white;
  }
}

// Estilos específicos para pantallas pequeñas (celulares)
@media (max-width: 768px) {
  .btn-group {
    flex-direction: column;
    align-items: stretch; // que los botones ocupen todo el ancho

    button {
      width: 100%; // que cada botón use todo el ancho disponible
      justify-content: center;
      text-align: center;
    }
  }
}

.fondo {
  background-color: transparent;
  border: none;
}

.logout-button {
  background-color: red;
  color: white;

  &:hover {
    background-color: darkred;
  }
}