<h2>Juego: Mayor o Menor</h2>

<p *ngIf="!juegoTerminado">
    Carta actual:
    <img [src]="'assets/cartas/' + cartaActual + '.png'" alt="Carta actual" class="carta" />
  </p>

<div *ngIf="!juegoTerminado">
  <button (click)="jugar('mayor')">Mayor</button>
  <button (click)="jugar('menor')">Menor</button>
</div>

<p *ngIf="siguienteCarta && !juegoTerminado">
    Siguiente carta:
    <img [src]="'assets/cartas/' + siguienteCarta + '.png'" alt="Carta siguiente" class="carta" />
  </p>

<p *ngIf="juegoTerminado">
  ❌ Perdiste. Tu puntaje: <strong>{{ puntaje }}</strong>
</p>

<p *ngIf="!juegoTerminado">
  Puntaje actual: {{ puntaje }}
</p>

<div *ngIf="juegoTerminado">
  <button (click)="reiniciarJuego()">Reiniciar</button>
</div>
