body {
    background-image: url('assets/fondo.jpg');
    background-size: cover;         /* Ajusta la imagen al tamaño de la pantalla */
    background-position: center;    /* Centra la imagen */
    background-repeat: no-repeat;   /* Evita que se repita */
    background-attachment: fixed;   /* Fondo fijo mientras se hace scroll */
    margin: 0;
    padding: 0;
  }